@import url(./fonts/sanfrancisco-font.css);
html {
    font-family: "SF Text";
    font-weight: 400;
}

.content {
    margin-top: 46px;
}

.navbar {
    background-color: rgba(45, 45, 45, 0.98);
}

.navbar .container {
    max-width: 1000px;
    padding-left: 5px;
}

.navbar-brand {
    padding-top: 0;
    font-size: 0;
    margin-right: 0;
}

.navbar-nav li a {
    text-align: center;
    line-height: 44px;
    height: 44px;
    padding-top: 0;
    width: 150px;
    font-weight: 300;
    font-size: 14px;
    color: #ffffff;
}

.navbar-toggler {
    padding: 0;
    font-size: 0;
    line-height: 0;
    background-color: #FFF;
    border: 0;
    border-radius: .25rem;
}

.navbar-nav li a:hover {
    color: #bdbdbd;
}

@media only screen and (min-width: 576px) {
    .hamburger-menu {
        display: none;
    }
   }

.hamburger-menu {
    padding:0;
}

.showcase {
    background-color: #F8F8F8;
    margin-bottom: 12px;
}

@media only screen and (min-width: 576px) {
    .small-showcase .col-sm:first-child{
        margin-right: 6px;
        margin-left: 12px;
   }
   
   .small-showcase .col-sm:last-child{
       margin-right: 12px;
       margin-left: 6px;
   }
  }

.small-showcase .showcase {
    vertical-align: middle;
    height: 512px;
    margin-bottom: 12px;
    padding-top: 10px;
}

.showcase.dark{
    background-color: #131218;
    color: #FFF;
}

.showcase img {
    max-width: 90%;
    height: auto;
}

.showcase-title {
    margin-bottom: 5px;
    padding-top: 48px;
    font-size: 3em;
    text-align: center;
    font-weight: 600;
    letter-spacing: -2px;
    line-height: 45px;
}

.phone-list {
    padding-top:48px;
}

.phone-title{
    margin-bottom: 5px;
    font-size: 2.1em;
    text-align: center;
    white-space: pre-line;
    font-weight: 500;
    letter-spacing: -2px;
    line-height: 45px;
}

.phone-subtitle {
    text-align: center;
    font-size: 2.2em;
    font-weight: 600;
    line-height: 1em;
    white-space: pre-line;
    padding: 0px 10px 0 10px;
}

.phone-image {
    text-align: center;
    padding-bottom: 100px;
}

.phone-links{
    text-align: center;
    font-size: 1.4em;
    line-height: 26px;
}



@media only screen and (min-width: 576px) {
.phone-title{
    margin-bottom: 5px;
    font-size: 2.1em;
    text-align: center;
    white-space: pre-line;
    font-weight: 500;
    padding-left: 200px;
    letter-spacing: -2px;
    line-height: 45px;
    padding-top: 120px;
}

.phone-subtitle {
    text-align: center;
    font-size: 2.2em;
    font-weight: 600;
    line-height: 1em;
    white-space: pre-line;
    padding: 0px 10px 0 10px;
    padding-left: 200px;
}

.phone-image {
    text-align: left;
    padding-bottom: 100px;
}

.phone-links{
    text-align: center;
    font-size: 1.4em;
    line-height: 26px;
    padding-left: 200px;
}

.phone-buy {
    margin-left: 332px;
}
}



.showcase-subtitle {
    text-align: center;
    font-size: 1.4em;
    line-height: 26px;
    white-space: pre-line;
    padding: 0px 10px 0 10px;
}


.showcase-image {
    padding-top: 40px;
    text-align: center;
}

.showcase-links {
    text-align: center;
    font-size: 0.9em;
    line-height: 26px;
}


.showcase-links a:after {
    background-position: right;
    background-image: url(http://etecan.github.io/includes/images/svg/links-before.svg);
    background-size: 0.9em 0.9em;
    background-repeat: no-repeat;
    content: "";
    width: 0.9em;
    height: 0.9em;
    padding-left: 16px;
    display: inline-block;
    vertical-align: middle;
    }


.phone-links a:after {
        background-position: right;
        background-image: url(http://etecan.github.io/includes/images/svg/links-before.svg);
        background-size: 0.7em 0.7em;
        background-repeat: no-repeat;
        content: "";
        width: 0.7em;
        height: 0.7em;
        padding-left: 20px;
        display: inline-block;
        vertical-align: middle;
        }