@import url(./fonts/sanfrancisco-font.css);
html {
    font-family: "SF Text";
    font-weight: 400;
}

.navbar {
    font-weight: 400;
    height: 44px;
    max-height: 44px;
    background-color: rgba(45, 45, 45, 0.98);
    vertical-align: middle;

}

.navbar-nav>li>a {
    color: #FFF;
    width:150px;
}

.navbar-brand {
    margin-top: -15px;
    padding-top: 0;
    padding-bottom: 0;
    color: #FFF;
    height: 44px;
    line-height: 44px;
}

.navbar-dark .navbar-toggler {
    padding: 0;
}